<!DOCTYPE html>
<html>
<%= render "pdf_head" %>
<body>
<div id="body">
  <p class="date">Barcelona, <%= Time.now.stamp("January 12, 2019") %></p>

  <p>To whom it may concern,</p>

  <p>IAAC Institut d’Arquitectura Avançada de Catalunya in Barcelona certifies that the student <%= @student %>, has successfully finished the first term of MAA01 Master in Advanced Architecture program, that takes place from October 2014 to June 2015, and accomplished the following grades:</p>

  <h2>TERM 1</h2>

  <table class="results">
    <tbody>
      <% current_user.courses_with_grades.each do |course| %>
        <tr>
          <th><%= course %> - <%= course.subtitle %></th>
          <td><%= Grade.formatted_value course.grade %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>  
        <th>Weighted Average</th>
        <th>-</th>
      </tr>
    </tfoot>
  </table>

  <p class="underline">The grading system ranges from 1 to 10:</p>
  <table class="info">
    <tr><th>0 – 4.9</th><td>Fail</td></tr>
    <tr><th>5.0 – 6.9</th><td>Pass</td></tr>
    <tr><th>7.0 – 8.9</th><td>Good</td></tr>
    <tr><th>9.0 – 10</th><td>Excellent/Distinction</td></tr>
  </table>

  <p class="underline">The grading system is based on:</p>
  <table class="info li">
    <tr><th>I.</th><td>Attendance</td></tr>
    <tr><th>II.</th><td>Effort/Commitment</td></tr>
    <tr><th>III.</th><td>Discussion/Participation</td></tr>
    <tr><th>IV.</th><td>Final Outcome/achievement (depending on seminar’s requirements)</td></tr>
    <tr><th>V.</th><td>Blog Posts (depending on seminar’s requirements)</td></tr>
    <tr><th>VI.</th><td>Public Presentation</td></tr>
  </table>

  <p>For more information you can always visit the website   <a href="http://www.iaac.net">www.iaac.net</a></p>

  <p>Please do not hesitate to contact me if you need any further information,</p>

  <p>Sincerely,</p>

  <div class="signature">
    <p><span class="author">María José Piñeiros</span></p>
    <p>Academic Secretary</p>
    <p>Institute for Advanced Architecture of Catalonia</p>
    <p>Pujades 102, Barcelona 08005</p>
    <p>T: +34 933 209 520</p>
    <p><a href="mailto:secretary@iaac.net">secretary@iaac.net</a></p>
    <p><a href="http://www.iaac.net">www.iaac.net</a></p>
  </div>

</div>
</body>
</html>
