<!DOCTYPE html>
<html>
<%= render "office/users/reports/pdf_head" %>
<body>
<div id="body">
  <p class="date">Barcelona, <%= Time.now.stamp("January 12, 2019") %></p>

  <p>To whom it may concern,</p>

  <p>IAAC Institut d’Arquitectura Avançada de Catalunya in Barcelona certifies that the student <%= @student %> has successfully finished the first two terms of <%= @student.course_description %>. The grades that <%= @student.first_name %> obtained are as follows:</p>
<div class="grades break">
  <% term = 0 %>
  <% @courses.group_by(&:starts_on).reverse_each do |starts, courses| %>
    <h2>TERM <%= term += 1 %></h2>
    <% courses.each do |course| %>
      <table class="results">
        <tbody>
          <tr>
            <th><%= course %> - <%= course.subtitle %></th>
            <td><%= Grade.formatted_value course.grade.min_4_grade %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %><br/>
  <table class="results">
    <tfoot>
      <tr>
        <th>Weighted Average&nbsp;&nbsp;&nbsp;</th>
        <th><%= Grade.formatted_value @student.weighted_average %></th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="explanation">
  <p class="underline">The grading system ranges from 1 to 10:</p>
  <table class="info">
    <tr><th>0 – 4.9</th><td>Fail</td></tr>
    <tr><th>5.0 – 6.9</th><td>Pass</td></tr>
    <tr><th>7.0 – 8.9</th><td>Good</td></tr>
    <tr><th>9.0 – 10</th><td>Excellent/Distinction</td></tr>
  </table>

  <p class="underline">The grading system is based on:</p>
  <table class="info li">
    <tr><th>I.</th><td>Attendance</td></tr>
    <tr><th>II.</th><td>Effort/Commitment</td></tr>
    <tr><th>III.</th><td>Discussion/Participation</td></tr>
    <tr><th>IV.</th><td>Final Outcome/achievement (depending on seminar’s requirements)</td></tr>
    <tr><th>V.</th><td>Blog Posts (depending on seminar’s requirements)</td></tr>
    <tr><th>VI.</th><td>Public Presentation</td></tr>
  </table>
</div>
  <p style="padding-top: 50px;">For more information you can always visit the website   <a href="http://www.iaac.net">www.iaac.net</a>.</p>

  <p>Please do not hesitate to contact me if you need any further information.</p>

  <p>Sincerely,</p>

  <div class="signature">
    <p><span class="author">María José Piñeiros</span></p>
    <p>Academic Secretary</p>
    <p>Institute for Advanced Architecture of Catalonia</p>
    <p>Pujades 102, Barcelona 08005</p>
    <p>T: +34 933 209 520</p>
    <p><a href="mailto:secretary@iaac.net">secretary@iaac.net</a></p>
    <p><a href="http://www.iaac.net">www.iaac.net</a></p>
  </div>

</div>
</body>
</html>
